
Create a markdown cell with the title of the notebook. (1 pt)

# Data Science Notebook

 Create a markdown cell for an introduction. (1 pt)

## Introduction
Welcome to this data science notebook! In this notebook, we will explore various concepts and tools used in the field of data science.

 Create a markdown cell to list data science languages. (3 pts)

## Data Science Languages
- Python
- R
- SQL
- Julia

Create a markdown cell to list data science libraries. (3 pts)

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- PyTorch

Create a markdown cell with a table of Data Science tools. (3 pts)

## Data Science Tools

| Tool         | Description                                      |
|--------------|--------------------------------------------------|
| Jupyter      | Interactive computing environment                 |
| RStudio      | Integrated development environment for R         |
| GitHub       | Version control platform                         |
| Tableau      | Data visualization software                       |
| Apache Spark | Distributed computing system                     |
| SQL          | Database querying language                       |

 Create a markdown cell introducing arithmetic expression examples. (1 pt)

## Arithmetic Expression Examples
Let's explore some basic arithmetic operations using Python.

Create a code cell to multiply and add numbers. (2 pts)

In [1]:
# Multiply and Add Numbers
x = 5
y = 10

# Multiplication
product = x * y
print("Product:", product)

# Addition
sum = x + y
print("Sum:", sum)

Product: 50
Sum: 15

Create a code cell to convert minutes to hours. (2 pts)

In [2]:
# Convert Minutes to Hours
minutes = 120

# Conversion
hours = minutes / 60
print("Hours:", hours)

Hours: 2.0

 Insert a markdown cell to list Objectives. (3 pts)

## Objectives
- Introduce data science languages and libraries
- Explore basic arithmetic operations in Python
- Demonstrate conversion between different units of time

Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

## Author
- John Doe